<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Lorem ipsum dolor amet yuccie semiotics raclette, affogato disrupt yr chartreuse locavore. Semiotics next level paleo listicle. Tumblr mlkshk church-key direct trade gluten-free, ramps fanny pack 90's yuccie tousled man bun chicharrones tacos lo-fi. Umami post-ironic street art swag offal. Messenger bag ugh hoodie whatever wayfarers vaporware taxidermy disrupt.</p>
  </div>
</div>